.about__content:before {
  content: "";
  width: 490px;
  height: 505px;
  background: url('../../img/gates.png') center center / cover no-repeat;
  display: block;
}

.about__content {
  display: flex;
}

.about__text {
  background: url(../../img/mountains.png) center center / cover no-repeat;
  max-width: 785px;
  min-height: 455px;
  padding: 68px 81px;
  font-size: 16px;
  color: #060606;
  margin-left: -137px;
  margin-top: 97px;
  display: inline-block;
}

.about__description {
  margin-bottom: 42px;
  line-height: 27px;
  padding-right: 121px;
}

.about__description:last-child {
  margin-bottom: 0;
}

.about__title {
font-size: 36px;
font-weight: bold;
color: #000;
margin-bottom: 37px;
}

.about__btn {
  font-size: 14px;
  color: #fff;
}