.btn {
  background: #F5170E;
  color: #fff;
  border-radius: 35px;
  padding: 18px 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition: background-color .3s;
}

.btn:hover {
  background: #DA0100;
}

.tours__btn {
  background: #fff;
  border-radius: 35px;
  border: 1px solid #F5170E;
  padding: 17px 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-top: auto;
  transition: background-color .3s, color .3s, border-color .3s;
}

.tours__btn:hover {
  background: #F5170E;
  color: #fff;
}

.btn--color--grey {
  background: #8E8E8E;
  padding: 18px 44px;
}

.btn--color--grey:hover {
  background: #2B2B2B;
  color: #fff;
}

.btn--welcome {
  padding: 18px 59px;
}