.form__row {
  display: flex;
  margin-bottom: 30px;
}

.form__input {
  flex: 1;
  margin-right: 30px;
  border-radius: 5px;
  border: none;
  background: #fff;
  padding: 20px 30px;
  font-size: 18px;
  color: #1A1B1E;
  border: 1px solid #fff;
}

.form__input:focus {
  outline: none;
  border: 1px solid #F5170E;
}

.form__input::placeholder {
  color: #666;
}

.form__input:last-child {
  margin-right: 0px;
}

.form__input--textarea {
  height: 235px;
  padding: 29px 31px;
  resize: none;
}

.form__controls {
  display: flex;
  margin-bottom: 15px;
}

.form__controls-title {
  width: 38.5%;
  font-size: 18px;
}

.form__btns {
  display: flex;
  justify-content: flex-end;
}

.form__btn {
  margin-right: 17px;
}

.form__btn:last-child {
  margin-right: 0;
}