.nav__list {
  display: flex;
  align-items: baseline;
}
.nav__item {
  margin-right: 54px;
}

.nav__link {
  font-size: 14px;
  text-decoration: none;
}

.nav__link:hover {
  color: #F5170E;
}