.page-content {
  background: #fff;
  color: #303030;
  padding: 98px 0 84px 0;
}

.services {
  margin-bottom: 61px;
  display: flex;
  flex-direction: column;
}

.service {
  display: flex;
  margin-bottom: 42px;
}

.service:last-child {
  margin: 0;
}
.services__img {
  width: 40.4%;
  margin-right: 5%;
}

.service__content {
  flex: 1;
}

.service__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  margin-bottom: 29px;
  margin-top: 11px;
}

.service__desc {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 35px;
}