.social__item {
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social {
  display: flex;
  align-items: center;
  margin-right: 74px;
}

.social__link {
  text-decoration: none;
  width: 36px;
  height: 36px;
}

.social__pic {
  opacity: .5;
}

.social__pic:hover {
  opacity: 1;
}