body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.42;
  background: #001821;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.img {
  display: block;
  max-width: 100%;
}

body, html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}

.wrapper-main {
  background: url("../../img/1.png") center top no-repeat, 
  url("../../img/2.png") center center no-repeat; 
}

.wrapper__content {
  flex: 1;
}

.wrapper__content--main {
  margin-bottom: 51px;
}

.container {
  margin: 0 auto;
  width: 1140px;
  position: relative;
}

