body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.42;
  background: #001821;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.wrapper-main {
background: url("./img/1.png") center top no-repeat, 
url("./img/2.png") center center no-repeat; 
}

.main__index {
  margin-bottom: 55px;
}

.container {
  margin: 0 auto;
  width: 1140px;
  position: relative;
}

.header {
  height: 56px;
  position: relative;
  margin-bottom: 140px;
}

.logo {
  display: block;
  position: absolute;
  width: 85px;
  height: 36px;
  left: 0;
  top: 29px;
}

.nav {
position: absolute;
top: 42px;
left: 166px;
}

.contacts {
position: absolute;
top: 27px;
right: 0;
}

.nav__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.nav__link {
  font-size: 14px;
  text-decoration: none;
}

.contacts {
  font-style: normal;
  text-align: right;
}
.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 2px;
}

.contacts__phone-text {
  color: #9A9A9A;
  font-size: 11px;
  height: 20px;
  margin-top: 17px;
  margin-bottom: 0px;
}

.contacts__shedule {
  font-size: 13px;
  text-decoration: underline;
  margin-top: -8px;
  margin-right: 4px;
}

.hero {
  margin-bottom: 243px;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  width: 520px;
  line-height: 1.38;
  margin-bottom: 24px;
}

.hero__description {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.tours {
  margin-bottom: 127px;
}

.tours__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
  display: inline-block;
  vertical-align: middle;
}

.tours__title::after {
  content: "";
  display: inline-block;
  width: 21px;
  height: 28px;
  margin-left: 12px;
  background: url(img/flame.png) center center no-repeat;
}

.tours__pic {
width: 360px;
margin-right: 25px;
}
.tours__pic:last-child {
margin-right: 0;
 }

.tours__item {
background: #fff;
min-height: 448px;
border-radius: 5px 5px 5px 5px;
display: inline-block;
vertical-align: top;
margin-right: 23px;
width: 362px;
color: #666;
}

.tours__item:last-child {
margin-right: 0;
}

.tours__item-img {
  height: 144px;
  width: 100%;
}

.tours__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.tours__content {
  padding: 33px 16px 26px 22px;  
}

.tours__item-title {
color: #000;
font-weight: 700;
font-size: 24px;
line-height: 33px;
margin-bottom: 21px;
}

.tours__features {
  margin-bottom: 23px;
  padding-left: 7px;
}

.tours__feature {
 display: inline-block;
 vertical-align: middle;
  margin-right: 26px;
}

.tours__feature:last-child {
  margin-right: 0;
}

.tours__icon-features {
  display: inline-block;
  vertical-align: middle;
  width: 95px;
  margin-right: 28px;
}

.tours__icon-feature {
display: inline-block;
vertical-align: middle;
margin-right: 8px;
}

.tours__feature-text {
display: inline;
vertical-align: top;
color: #666;
font-size: 16px;
line-height: 22px;
}

.tours__text {
line-height: 1.49;
color: #303030;
margin-bottom: 24px;
}

.tours__btn {
  background: #fff;
  border-radius: 35px;
  border: 1px solid #F5170E;
  padding: 16px 28px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.news__list {
  margin-bottom: 48px;
}
.news__title {
font-weight: 700;
font-size: 36px;
line-height: 49px;
margin-bottom: 51px;
}


.news__item {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
}

.news__cover {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.news__item:last-child {
  margin-right: 0;
}

.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 22px 30px 3px 30px;
  min-height: 167px;
}

.news__date {
  font-size: 14px;
  margin-bottom: 12px;
}

.news__item-title {
font-weight: bold;
font-size: 24px;
margin-top: 12px;
}

.news__text {
font-size: 16px;
margin-top: 5px;
}

.news {
margin-bottom: 146px;
vertical-align:middle;
}

.pagination {
  text-align: center;
}

.pagination__page, .pagination__list {
display: inline-block;
vertical-align: middle;
}

.pagination__page {
margin-right: 25px;
font-size: 16px;
}

.pagination__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: -2px;
}

.pagination__link--active .pagination__link {
  background: #fff;
  color: #F5170E;
}

.pagination__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
  /* margin-bottom: 145px; */
}

.about__content:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 490px;
  height: 505px;
  background: url('./img/gates.png') center center / cover no-repeat;
  margin-bottom: 102px;
}

.about__text {
  background: url(./img/mountains.png) center center / cover no-repeat;
  width: 785px;
  height: 455px;
  padding: 68px 81px;
  font-size: 16px;
  color: #060606;
  margin-left: -141px;
  margin-top: 97px;
  display: inline-block;
  }

.about__description {
  margin-bottom: 42px;
  line-height: 27px;
  padding-right: 121px;
}

.about__description:last-child {
  margin-bottom: 0;
}

.about__title {
font-size: 36px;
font-weight: bold;
color: #000;
margin-bottom: 37px;
}

.about__btn {
font-size: 14px;
color: #fff;
}

.footer-container__content {
border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-container {
height: 146px;
position: relative;
vertical-align: middle;
}

.social__item {
  display: inline-block;
  margin-right: 6px;
  
}

.social__item:last-child {
  margin-right: 0;
}

.social {
  }

.social__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
}

.footer__logo {
  top: 46px;
}

.footer__nav {
  top: 58px;
}

.footer__social {
  position: absolute;
  top: 49px;
  right: 263px;
}
